


footer-2{
    width:100%;
}

.BottomGrid{
    border-bottom:2px solid rgb(52, 52, 52);

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;;  
    padding:10px;
    color:rgb(74, 74, 74);
    font-size:14px;
    /*
    background-image: -webkit-linear-gradient(left, rgb(255, 255, 255), rgb(255, 227, 174));
border-top:2.5px solid rgb(213, 196, 175);*/
grid-row-gap:22px;
border-top-left-radius:15px;
border-top-right-radius:15px;
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 227, 174));

}
#Mailing{



}

body{
    overflow-x: hidden;
}

input{
    border-radius:5px;
    outline:none;
}


button{
    border-radius:5px;
    padding:9px;
    background-color:rgb(255, 191, 73);; 
    color:rgb(10, 61, 68);
    font-weight: bold;;
    border:none;
    cursor:pointer;

}
button:hover{
    background-color: ;
    color:white;;
}


footer-3{

}
.threegrid{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top-left-radius:5px;
    text-align:center;
    border-top-right-radius: 5px;
    color:white;
    background-color:rgb(35, 35, 35); 
    background-color:rgb(68, 67, 67); 

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:8px 0 ;
    border-top:3px solid rgb(240, 185, 83);
    
}


#CoverImageViking{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('Bjarni-Herjolfsson.jpg');
    /*https://www.flickr.com/photos/162769613@N02/41524357191/*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 42px;
    padding:40px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll-2 12s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll-2 12s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
}


@-webkit-keyframes backgroundScroll-2 {
from {background-position: 0 -250px;
opacity:.5
}
to {background-position:  0 -400px;
    opacity:1;
}
}



@media only screen and (min-width:1070px) {
    #CoverImageViking{
        -webkit-animation: backgroundScroll-3 11s linear 1;
    animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes backgroundScroll-3 {
        from {background-position: 0 -400px;
            opacity:.25;
            }
            to {background-position:  0 -590px;
                opacity:1;
            }
    }


