
@media only screen and (max-width:580px) {
 
  .button-left {
    left:15px;  }
  
.button-right {  
  right:15px;
 }
}



@media only screen and (max-width:570px) {

  .UnderSlideDescription{
    width:92%; margin:0 auto;;
  }
  .UnderSlideDescription p{
    padding:2px;
  }
  
  .slide{
    width:99%;
  }

  
  #Clicker{
    background:none;
    position:relative;
    font-size:14px;
    color: rgb(185, 143, 65);;
  }
  
  .button-left{
    width:50px;  
    margin-left:-19px;
    margin-bottom:0;

  }
  .button-left span{
  display:none;}
  .button-right{
    margin:0 0 0 auto;
    width:40px;
    margin-top:-40px;
    margin-right:-15px;
    margin-bottom:0;
  
  }
}



  .button-left-2{
    position:fixed;
    left:55px;
  }
  .button-right-2{
    position:fixed;
    right:55px;
    width:54px;
  }
  @media only screen and (max-width:570px) {
    .button-left-2{
      position:fixed;
      left:15px;
    }
    .button-right-2{
      position:fixed;
      right:15px;
      width:54px;
    }

    #Clicker{
      background:none;
      position:absolute;
      top:325px;
      font-size:14px;
      color: rgb(226, 185, 141);;
      text-shadow:.5px .5px rgb(94, 62, 33);
    }
    

  }
  /*height difference from normal!!*/
  img{
  max-height:760px;
  }
    
  @media only screen and (min-width:1050px) {
    .slide{
      width:80%;
  }

  img{
    max-height:960px;
    }

    
  .button-left-2{
    position:fixed;
    left:155px;
    bottom:135px;

  }
  .button-right-2{
    position:fixed;
    right:155px;
    width:54px;
    bottom:135px;
  }
}

#CoverImageCastles{
    color:#fff;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('Berlin-Skyline.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    padding:32px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll2 3s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll2 3s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
    background-position:0 -290px
}



@-webkit-keyframes backgroundScroll2 {
  from {background-position: -370px -100px}
  to {background-position: -370px -200px;}
}

    

  

@media only screen and (max-width:670px) {
  #CoverImageCastles{
      -webkit-animation: backgroundScroll-3 4s linear 1;
  padding:35px 0 ;
  animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes backgroundScroll-3 {
      from {background-position: -370px -300px}
      to {background-position: -370px -200px;}
      }
      
  
  }
  

  @media only screen and (min-width:1580px) {
    #CoverImageCastles{

        -webkit-animation: backgroundScroll-5 4s linear 1;
    padding:45px 0 ;
    animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes backgroundScroll-5 {
      from {    background-position:0 -510px;
      }
      to {    background-position:0 -395px;
      }
      }
      
  
  }
  

    
    }
    