
object{width:100%; margin:0; display:block; 
max-height:39px;
} 
a {outline:none;}

body{margin:0; padding:0 ; }

.NewsReel{
    background-color:white; 
    position:relative;
    background-color:rgba(255, 255, 255, 0); 
    padding:19px 0 ;
}

.NewsReel object{
    position: absolute;
    top:0;
}

object{width:100%; margin:0; }
/*
.PageTitle2 a{writing-mode:vertical-rl; text-orientation:upright; opacity: 0.7; 
    font-size:18px; z-index:-9; letter-spacing:5px; z-index:-1099;
   color:red;text-decoration:none; white-space: nowrap;}

   .PageTitle2{
    padding: 0 5px;
     position:absolute; left:0; top:0;   }
.PageTitle2 span{opacity:1;}
.PageTitle2 .rest{color:grey;
    opacity:1;
}
.PageTitle2 a{writing-mode:vertical-rl; text-orientation:upright; opacity: 0.7;  font-size:31px; z-index:-9; letter-spacing:25px; z-index:-1099;
    color:red;text-decoration:none; white-space: nowrap;}
.PageTitle2 a:hover{; opacity:1;  font-weight:bold; }
*/
nav p{
    text-align:center;
        font-size:9.7px;
        /*changed it from 9.7 and 9.2*/
       
        padding:5px 0 ;
        letter-spacing:1.2px;
        /*color:rgb(245, 245, 245);*/
        color:white;
        font-weight:bold;
        text-transform: uppercase;
        text-decoration: underline;;
}/*added*/

@media only screen and (max-width: 600px) {
    
    nav p{
        font-size:8px;
        padding:9px 0 ;
    }  

         
    #Logo a{        font-size:12.5px;    }
    #Logo{        left:3px; top:-3px;}
        nav{
            grid-template-columns: .6fr 3fr ;
            /*grid-template-columns: .6fr 3fr ;
            */
        }
    
  } 
.Carousel{ width:100%; background-image: -webkit-linear-gradient(left, rgb(255, 198, 172), rgb(214, 126, 44)); margin:0; display:inline-block;}

.Carousel span{
    color:rgba(0, 0, 0, 0.781);
}

/*NAV NAV NAV*/
    nav{
        display: grid;        
        grid-template-columns: 12fr 54fr;;

        width:100%;
        grid-gap:10px;
        background-color:rgb(58, 58, 58); 
        border-top:2px solid rgb(39, 39, 39);   
        margin-top:-.5px;
        -moz-user-select: none; 
        -webkit-touch-callout: none; 
        -webkit-user-select: none;            
        user-select: none; 
        -ms-user-select: none; 
        }


@media only screen and (max-width: 600px) {
    nav p{/*changes made here to recover mobile friendliness - see index for what exactly i also added z-index to historyarticle*/
        font-size:8.3px;
        padding:11px 0;/*MObile friendly test*/ 
    }   
    #Logo a{        font-size:11.5px;    }/*MObile friendly test from 12px*/ 
/*    #Logo{        left:-5px; top:-2px;}deleted this line as part of mobile responsive test*/ 
    nav{grid-template-columns: .8fr 3fr; 
        grid-gap:5px; /*try for next day mobile friendly test*/ 
        ;}
   /*Possible for nice mobile feat  #CurrentNav{
    padding-bottom:15px;
    border-bottom:2.1px solid rgb(241, 172, 81);
  }

#Nav2 a:hover{
border-bottom:none;
padding-bottom:none;
}  */
}

#Nav2 a:hover{
    border-bottom:2px solid rgb(241, 172, 81);
    padding-bottom:5px;

}
nav a{

outline:none;}

    nav div{
        font-size:14.5px;
        text-align: center;;
        color:rgb(216, 216, 216); 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display:grid; 
        justify-items: center;;
        justify-content: middle;
    }   
    nav p{    color:rgb(216, 216, 216);     text-align:center;
        text-decoration:none;;
    }
    /*nav a:focus{ outline:none;
        -moz-outline-style: none;}*/
    nav a{text-decoration:none;
        color:rgb(216, 216, 216); 
        outline:0;
        -moz-outline-style: none;
    }
    nav a:hover{color:white;
        outline:none;
        -moz-outline-style: none;
    }

    @media screen and (min-width: 580px) {   nav a:hover{        text-shadow:.2px .2px white;  }}
   
 #Logo{position:relative;}
 #Logo p{
     text-align: center;;
     color:rgb(255, 227, 184); 
     font-size:16px;
     text-shadow:1px 1px rgb(77, 77, 77);
     position:absolute;
     top:-20px;
     left:-24px;
 }
 #Logo a{
     text-shadow:1.5px 1.5px rgb(63, 56, 17);
     outline:none;

     color:white; }

 #Logo a span{
     color:rgb(255, 227, 184); 
     color:rgb(255, 222, 206); 


     /*nice color: rgb(206, 77, 77) */
 }


    nav #Nav2{grid-template-columns:1fr 1fr 1fr 1fr }
    #Uplifting:hover{color:rgb(253, 210, 90);  
    }
    #Uplifting{color:rgb(243, 225, 166); 
    }
    /*good color is#Uplifting{color:rgb(243, 215, 125);}*/
    #Nav3{    grid-template-columns:1fr 1fr 1fr;}
    
/*tHUMB THUMB THUMB */
#Thumb{
        color:#fff;
        opacity:.72;
        border-bottom:2px solid rgb(231, 186, 60);
        text-align:center;
        background-image: url(https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/westernhemisphere_geos_2019246_lrg.jpg
      
        
        );  
        background-repeat: repeat;
        background-attachment: fixed;
        background-size: cover;
        font-size: 12px;
        padding:15px 0 ;
        background-position:-200px -40px;
}


/*HEADER HEADER HEADER */


.EntirePage{  }

footer{
    width:70%; 
    margin:0 auto; 
    text-align:center; 
    font-size:12px; 
    margin-top:95px; 
    color:grey;
}
footer p{margin:12px 0 ; }
footer hr{
    width:45%; 
    height:1.2px; 
    background-color: rgb(253, 205, 116); 
    border:none;
}

.Try{ margin:0 auto; 
color:black;
}


.Try p{color:black;
font-weight:bold;
letter-spacing:2px;
text-decoration: none;
font-size:12px;
text-transform: lowercase;
}
/*
.Try{
    background-image:-webkit-linear-gradient(bottom, rgb(255, 219, 174), white);
    padding-bottom:15px;
    border-bottom:2px solid orange; 
    margin-top:25px;
    width:50%; 
    margin:0 auto;
    border-radius:12px;
}*/

#Sub b{
    color:orange; 
}

header{text-align:center; padding-top:10px;  }
header h1{ Margin:0 0 0 0 ;color:rgb(58, 58, 57); 
    font-size:32px;  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-transform: uppercase; font-weight: 550; font-style:normal; font-size:32px;}
    #Kicker{display:block; letter-spacing:2px; font-weight:bold;  color:grey; text-transform: uppercase; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:13px; margin:15px 0 7.8px 0;}

    #Date{text-align:center;
        font-size:9.2px;
        padding:5px 0 ;
        padding-top:7px;
        padding-bottom:7px;
        letter-spacing:1.2px;
        /*color:rgb(245, 245, 245);*/
        color:white;
        font-weight:bold;
        text-transform: uppercase;
        text-decoration: underline;;
        
        margin:7px 0 0 0; color: rgb(199, 132, 44);}
    #SubTitle{ color: rgb(112, 112, 112); margin:10px 0 0 0 ;
    text-transform: lowercase; text-decoration:none;}
    hr{margin-top:15px; }
    #SecondHR{margin-top:35px;}
    
#SubTitle1{text-align:center;
    font-size:15px;
    padding:5px 0 ;
    padding-top:7px;
    padding-bottom:7px;
    letter-spacing:2px;
    /*color:rgb(245, 245, 245);*/
    color:white;
    font-style: oblique;
    margin:7px 0 0 0; color: rgb(199, 132, 44);}

    hr{margin-top:0; color:lightgrey; 
    padding-bottom:5px; 
    border-bottom:1px solid grey; 
    }
/*    

h1{text-align:center;
    letter-spacing:4px;
    font-style:oblique;
    color:rgb(219, 219, 219);
    font-size:57px;
}

h1{ Margin:0 0 5px 0 ;  padding:0; 
    text-align:center; color:rgb(29, 29, 29); text-shadow:.5px .5px rgb(250, 201, 111); letter-spacing:9px; word-break: break-word; 
    display:block; 
}
*/
header{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

#Sub{
    margin:0; 
    text-decoration:none;
    color:black;
    }
.Try{
    border-top:2px solid orange; 
    background:#424141;
    width:65%; 
    margin:24px auto; 
    padding-bottom:7px;
    border-radius:8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;;
}
.Try p{
    
    color:rgb(189, 189, 189);
}


.NewsBox{
    margin-top:28px;
}
.NewsBox span{
    font-size:13px;
    color:orange; 
    font-weight:bold;
}

.NewsBox h2{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    margin:0; 
    font-size:16.4px;
    margin:25px 0; 
    border-left:.1px solid rgb(218, 218, 218);
    padding-left:7px; 
    letter-spacing:1px;;
    color:rgb(90, 90, 90); 
   
    font-weight: 490;
    text-align:left;
}
.NewsBox{
max-width:320px;
width:45%;
margin:0 auto;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding-left:85px;
padding-right:49px;
}/*
.EntirePage{
    background-image: -webkit-linear-gradient(top, rgba(233, 157, 86, 0.171), white, white, white, white, white, white);
}*/
header{
    padding-top:25px;
    padding-bottom:11px; 
}
/*
details b{
    font-weight:normal; background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg'); background-repeat: no-repeat;
    background-position: 0 12px; 
}*/

#Tryer{
    font-size:22px; width:100%;
}

summary::-webkit-details-marker {  display: none; }
summary{ cursor:pointer; outline:none; user-select:none; -moz-user-select: none; display:block;
color:rgb(23, 23, 90);
text-shadow:.4px .4px rgb(150, 149, 201);
font-size:15.5px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
summary:hover{
    color:rgb(216, 180, 81);


}
summary:focus{
    color:rgb(0, 128, 128);
    color:rgb(221, 193, 117);

}

/*
details{margin:0; margin-bottom:40px; }
details p{ 
    padding-left:10px;
    margin-top:-11px;
    font-size:13px;
    color:rgb(59, 59, 59); 
    letter-spacing:1.2px;
    text-align:left;
    text-decoration:none;
    color: rgb(134, 103, 65) ;
    b
    font-weight:normal;
    letter-spacing:1.4px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

details a{
    color: rgb(134, 103, 65) ;
    font-weight:normal;
    letter-spacing:1.4px; 
    text-decoration:none; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

details a:hover{  }
*/


/*
::-webkit-scrollbar {
    display:none;
}*/ /*
::-webkit-scrollbar {
    height:8.76px;
    width:8px;
  }::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgb(241, 203, 203); 
    border-radius: 10px;
  }::-webkit-scrollbar-thumb{
      background-image:-webkit-linear-gradient(top, rgb(245, 195, 86), rgb(245, 184, 184));
      border-radius:5px;
  }
  ::webkit-horizon
  ::-webkit-scrollbar-thumb:hover {
      background:rgba(235, 5, 5, 0.44);
    }*/
    ::-webkit-scrollbar {

        display:none;
    }