#CoverImage{
  color:#fff;
  opacity:.82;
  border-bottom:2px solid rgb(82, 24, 14);
  border-bottom:2px solid rgb(231, 186, 60);
  text-align:center;
  background-image: url('Horizon1.jpg');
  /*https://www.flickr.com/photos/162769613@N02/41524357191/*/
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 12px;
  padding:25px 0 ;
  font-family: 'Dancing Script', cursive;
  -webkit-animation: backgroundScroll 15s linear 1;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 15s linear 1;
  animation-fill-mode: forwards;
  border-bottom-left-radius: 11px; 
  border-bottom-right-radius: 11px;;
}
.GallerySlider a{
  text-decoration: none;
  color:rgb(248, 1, 125);
}

.GallerySlider a:hover{
  text-decoration: underline;;
}

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


img{
  width:100%;
  object-fit: cover;
  margin:0 auto;
  display:block;
  max-height:400px;
  width:auto;
}

.GallerySlider {
  margin:0 auto;
}


#slider {
  padding: 0;
  margin: auto;
  display:block;
  margin: 0;
  margin-bottom: 30px;
}

.slide i{
  color:rgb(66, 66, 148);
}

.slide {
  opacity: 0;
  position: absolute;
  left: 0; 
  right: 0; 
  margin:0 auto;
  width: 80%;

  -webkit-transition:2s;
  transition:2s;
}
.reveal {
  opacity: 1;
  z-index: 2;
}

.UnderSlideDescription{
  margin:0 auto;
  width:80%;
  text-align:center;
}
.UnderSlideDescription p{
  padding:20px;
}


.slider{
  width:100%;
  margin:0 auto;
}

#Clicker{
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none; 
  background-color: rgb(241, 208, 146);;
  padding:5px;
  line-height:30px;;
  border-radius:9px;
  position: absolute;;
  z-index:5;
  bottom:0;

  text-align: center;;
  font-weight: bold;;
}
.button-left {
  left:15px;
}

.button-right {
  right:15px;
  width:69px;

}


iframe{
  margin:0 auto;
  min-height:320px;
  min-width:520px;
  display:block;
  border-radius:5px;
}

@media only screen and (max-width:580px) {
  .slide{
    width:50%;
  }
  .button-left {
    left:15px;  }
  
.button-right {  
  right:15px;
 }
iframe{
  min-height:200px;
  min-width:290px;}
}

@media only screen and (max-width:570px) {

.UnderSlideDescription{
  width:100%;
}
.UnderSlideDescription p{
  padding:2px;
}

.slide{
  width:99%;
}

#Clicker{
  background:none;
  position:relative;
  font-size:14px;
  color: rgb(185, 143, 65);;
}

.button-left{
  width:40px;  
  margin-left:-10px;
}
.button-left span{
display:none;}
.button-right{
  margin:0 0 0 auto;
  width:50px;
  margin-top:-40px;
  margin-right:-10px;

}
}

/*Adjust picsize for phones height*/
@media only screen and (max-width:580px) {
  img{
    max-height:200px;
    max-width:100%;
  }
   
}
@media only screen and (max-width:780px) {
img{
  max-height:200px;
  max-width:100%;
}
}


@media only screen and (max-width:700px) {
  .slide{
  }
  .button-left {
    left:30px;  }
  
.button-right {  right:30px;
 }

}


@media only screen and (min-width:1050px) {
  .slide{
    width:50%;
  }
  .button-left {
    left:220px;
  }
  
  .button-right {
  right:220px;
  }
  #Clicker{
    bottom:150px;
  }
}


@media only screen and (min-width:1250px) {
  .slide{
    width:50%;
  }
  .button-left {
    left:310px;
  }
  
  
.button-right {
  right:310px;

  
}
}


@media only screen and (min-width:1300px) {
  .slide{
    width:50%;
  }
  .button-left {
    left:310px;
  }
.button-right {
  right:310px;
}
}

@media only screen and (min-width:1600px) {
  .slide{
    width:50%;
  }
  .button-left {
    left:410px;  }
  
.button-right {  right:390px; }
}

/*better psoition of buttons*/
@media only screen and (max-width:1050px) {
  .button-left {
    left:50px;
  margin-bottom:100px;

  }
  
  .button-right {
  right:50px;
  margin-bottom:100px;
  }
}

@media only screen and (max-width:570px) {

  .UnderSlideDescription{
    width:92%; margin:0 auto;;
  }
  .UnderSlideDescription p{
    padding:2px;
  }
  
  .slide{
    width:99%;
  }
  
  #Clicker{
    background:none;
    position:relative;
    font-size:14px;
    color: rgb(185, 143, 65);;
  }
  
  .button-left{
    width:50px;  
    margin-left:-10px;
    margin-bottom:0;
  }
  .button-left span{
  display:none;}
  .button-right{
    margin:0 0 0 auto;
    width:40px;
    margin-top:-40px;
    margin-right:-10px;
    margin-bottom:0;
  
  
  }
  }
  
@media only screen and (max-width:580px) {
 
  .button-left {
    left:15px;  }
  
.button-right {  
  right:15px;
 }
}



@media only screen and (max-width:570px) {

  .UnderSlideDescription{
    width:92%; margin:0 auto;;
  }
  .UnderSlideDescription p{
    padding:2px;
  }
  
  .slide{
    width:99%;
  }
  
  #Clicker{
    background:none;
    position:relative;
    font-size:14px;
    color: rgb(185, 143, 65);;
  }
  
  .button-left{
    width:50px;  
    margin-left:-19px;
    margin-bottom:0;

  }
  .button-left span{
  display:none;}
  .button-right{
    margin:0 0 0 auto;
    width:40px;
    margin-top:-40px;
    margin-right:-15px;
    margin-bottom:0;
  
  }

  }
  

    
#CoverImageCastles{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('Beckov-castle.PNG');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    padding:32px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll2 3s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll2 3s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
    background-position:0 -290px
}

@-webkit-keyframes backgroundScroll2 {
from {opacity:.1;}
to {opacity:1; }
}

    

  

@media only screen and (max-width:670px) {
  #CoverImageCastles{
      -webkit-animation: backgroundScroll-3 4s linear 1;
  padding:35px 0 ;
  animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes backgroundScroll-3 {
      from {background-position: -370px -300px}
      to {background-position: -370px -200px;}
      }
      
  
  }
  

  @media only screen and (min-width:1580px) {
    #CoverImageCastles{

        -webkit-animation: backgroundScroll-5 4s linear 1;
    padding:45px 0 ;
    animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes backgroundScroll-5 {
      from {    background-position:0 -510px;
      }
      to {    background-position:0 -395px;
      }
      }
      
  
  }
  

    
    }
    