#CoverImageColdWar{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('FlamencoMusic/FlamencoGuitar1.jpg');
    /*https://www.flickr.com/photos/162769613@N02/41524357191/*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    padding:40px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll 14s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 14s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
}


    
#CoverImageColdWar2{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('../../Art/AndalusianArt/Inmaculada-Alonso-Cano.jpg');
    /*https://www.flickr.com/photos/162769613@N02/41524357191/*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    padding:25px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll2 14s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll2 14s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
}

@-webkit-keyframes backgroundScroll2 {
from {background-position: 0 -140px;}
to {background-position:  0 -370px }
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 -40px;}
    to {background-position:  0 -270px }
    }
    
    
    
    
    @media only screen and (max-width: 600px) {
        #CoverImageColdWar{
        -webkit-animation: backgroundScroll2 14s linear 1;
        }
    @-webkit-keyframes backgroundScroll2 {
        from {background-position: -410px -40px;}
        to {background-position:  -410px -270px }
        }
        
    
    }
        