#CoverImageBavaria{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('Almhuette/MountainHut.jpg');
    /*https://www.flickr.com/photos/162769613@N02/41524357191/*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    padding:25px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll 12s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 12s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 -30px;}
to {background-position:  0 -320px }
}

    