


img{
    width:60%;
    margin:0 auto; 
    display:block;
    border:3px solid rgb(167, 82, 13);
    padding:2px;
    border-radius:5px;
    background:rgb(235, 175, 136);
}
.Full img{
    width:55%;
}
.CartoonGrid div{
    margin-top:25px;

}
.Half{
    display:grid;
    grid-template-columns: 1fr 1fr;;
    width:85%;
    margin:0 auto;
}
