#CoverImage{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('CuisineBG2.jpg');
    /*https://www.flickr.com/photos/162769613@N02/41524357191/*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    padding:32px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll 8s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 8s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;
    /*scale:.5 gives nice effect*/
}

section-1 #Working{
    text-align:center;
    margin-top:55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*<span>Photo by <a href="https://unsplash.com/@shootdelicious?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Eiliv-Sonas Aceron</a> on <a href="https://unsplash.com/s/photos/food?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
section-1 #Working b{
    color:rgb(153, 19, 9); 
}

@-webkit-keyframes backgroundScroll {
from {background-position:0px 20px  }
to {background-position: 0 -110px  }
}

@media only screen and (max-width:670px) {
 
   
@-webkit-keyframes backgroundScroll {
    from {background-position:0px  50px  }
    to {background-position: 0 -140px  }
    }
    
    
    }
    
        header{
            margin-bottom:25px; 
            -moz-user-select: none; 
            -webkit-user-select: none;
            user-select:none;
            -ms-user-select: none;;
        }
    
    #SubTitle1{text-align:center;
        font-size:15px;
        padding:5px 0 ;
        padding-top:7px;
        padding-bottom:7px;
        letter-spacing:2px;
        /*color:rgb(245, 245, 245);*/
        color:white;
        font-style: oblique;
        margin:7px 0 0 0; color: rgb(199, 132, 44);}
    
        hr{margin-top:0; color:lightgrey; 
        padding-bottom:5px; 
        border-bottom:1px solid grey; 
        }
        
    .ImageGrid{
        display:grid;
        grid-template-columns:
        1fr 1.18fr; 
        margin:0;
        margin:0 auto; 
        grid-gap:7.5px; 
        padding-top:10px;
        margin-bottom:75px;
        text-align:left;
    }
    
    #ArticleDescription{
        grid-area: Description; 
    }
    
    #ArticleFeatureImage{
        grid-area: Feature; 
    }
    
    
    .PageContainer{
        width:60%; 
        margin:0 auto; 
    }
    .PageContainer a{
        text-decoration: none;;
    }
    
    .PageContainer2{
        width:70%; 
        margin:0 auto; 
        margin-top:-30px;
    
    }
    .PageContainer2 a b{
        color:rgb(209, 30, 30);
        text-decoration: none;;
    }
    .PageContainer2 p{
        text-align: center;
        color:rgb(255, 11, 11);
        
    }
    
    @media only screen and (min-width:1220px) {
   
        .PageContainer2{
            width:42%; 
            
        }
    }
    
    
    .ImageGrid-2{
        display:grid; 
        /*grid-template-columns: 1.18fr 1fr; */
        grid-template-areas:'Description Description Description Description Feature Feature Feature Feature Feature';
        margin:0;
        margin:0 auto; 
        margin-bottom:75px;
        grid-gap:7.5px; 
        padding-top:10px;
        text-align:right;
    }
    .ImageGrid-2 h2{display:block; margin:-.5px 0 5px auto; font-size:19px; padding-top:8px;text-align:left; }
    .ImageGrid-2 p{ margin:0  0 0 auto; font-size:15px; text-align:left;}
    .ImageGrid-2 img{
        opacity:.85;
        width:100%; 
        margin:0; 
        object-fit: contain;
        border-radius:5px; 
    }
    
    
    .ImageGrid h2{display:block; margin:0px auto 0px 0 ; font-size:19.5px; 
        color:rgb(128, 118, 80); 
        
     }
    section-1 #SubTitle3{color:rgb(221, 53, 47); margin: 4px 0; font-size:17px;;}
    section-1 #SubTitle2{color:rgb(192, 176, 37); margin: 4px 0; font-size:17px;;}
    
    section-1 #SubTitle4{color:rgb(152, 165, 34); text-shadow:.4px .4px brown; margin: 4px 0; font-size:17px;;}

    .ImageGrid p{ margin:0 auto  0 0 ; font-size:15px; color:rgb(36, 36, 36);
    }
    
    .ImageGrid-2 h2{display:block; margin:0 auto 0 0 ; font-size:19px; color:rgb(129, 74, 29); }
    .ImageGrid-2 p{ margin:0 auto  0 0 ; font-size:15px; color:rgb(36, 36, 36); }
    
    .EntirePage{
        border-bottom:1.5px solid rgba(221, 88, 11, 0.692);
        border-bottom-right-radius:15px;
        border-bottom-left-radius: 15px;
    }.ImageGrid-2 img{
        opacity:.85;
        width:100%; 
        margin:0; 
        border-radius:5px; 
        object-fit:contain; 
        vertical-align: middle;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    object-fit:cover;
    margin:0 auto;
    display:block;
    margin-top:-23px;

    margin-top:5px;
    margin-bottom:9px;

}
    .ImageGrid img{
        opacity:.85;
        width:100%; 
        margin:0; 
        border-radius:5px; 
        object-fit:contain; 
        vertical-align: middle;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    object-fit:cover;
    margin:0 auto;
    display:block;
    margin-top:-23px;
    margin-top:4px;

    margin-bottom:9px;

}

@media only screen and (min-width:770px) {
    .PageContainer{
        width:52%;
    }
    
    }
    
    #Colorful{
        color:rgb(109, 18, 109);
    }
    
    section-1 a{
        text-decoration:contain;; 
        color:black;
    }
    
    
    
    
    .ImageGrid-2 #ArticleDescription{
        margin-left:55px;
        margin-right:45px;
    }

    @media only screen and (max-width:670px) {
        .ImageGrid{
            grid-template-columns: 1fr;
        }
    
    .PageContainer h2{
        margin:-3px auto 5px 0 ;
    }
    .ImageGrid-2 #ArticleDescription{
        margin-left:0;
        margin-right:0;
    }
    .ImageGrid-2{grid-template-areas: 
        'Description'
        'Feature'
        
        ;}
    #ArticleDescription{    grid-area: Feature}
    #ArticleFeatureImage{    grid-area: Description; }
    
    header{
        margin-bottom:45px;
    }
    .ImageGrid img{
        margin-bottom:25px;
        margin-top:-25px;
    }
    .ImageGrid-2 img{
        margin-bottom:25px;
        
        margin-top:-25px;
    }
}

    
    
    @media only screen and (min-width:1220px) {
        .PageContainer{
            width:32%; 
        }
        .PageContainer2{
            width:32%; 
            
        }
    }
    
    
    h3{font-weight:400;}
    .TopHeader{    position:relative;  margin:0  0 35px -22px; font-weight:400;  font-style:oblique; -moz-user-select: none;
        user-select:none;;}
    .TopHeader{  font-size:15px;     letter-spacing:2px; }
        
    .TopHeader span{
        color:rgb(185, 13, 13); 
    }
    
    @media only screen and (max-width:770px) {
        section-1 img{
            width:170px; 
            height:170px;
        }
       
        }
        