#CoverImage{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(82, 24, 14);
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url('Hokusai/HokusaiPlums.jpg');
    /*https://www.flickr.com/photos/162769613@N02/41524357191/*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    padding:25px 0 ;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 20px}
to {background-position:  0 -140px;}
}


@media only screen and (max-width:670px) {
    #CoverImage{
        -webkit-animation: backgroundScroll-2 15s linear 1;
        animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes backgroundScroll-2 {
        from {background-position: -10px -90px}
        to {background-position: -180px -90px;}
        }
        
    
    }
    
    

header{
    margin-bottom:25px; 
}

#SubTitle1{text-align:center;
    font-size:15px;
    padding:5px 0 ;
    padding-top:7px;
    padding-bottom:7px;
    letter-spacing:2px;
    /*color:rgb(245, 245, 245);*/
    color:white;
    font-style: oblique;
    margin:7px 0 0 0; color: rgb(199, 132, 44);}

    hr{margin-top:0; color:lightgrey; 
    padding-bottom:5px; 
    border-bottom:1px solid grey; 
    }
    

.EntertainmentGrid{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:15px;
    grid-row-gap:55px;
    margin:0 auto;
    margin-top:45px;
    width:88%;
    justify-items: center;;
}
#CustomPic{
    width:80%;
}

section-1 img{
    width:100%;   
    min-width:300px;
    max-width:300px;
    margin:0 auto;
    height:97px;
    border-radius:9px;
    object-fit: cover;
    display:block;
    opacity:.75;
}
section-1 img:hover{
    opacity: 1;
}
section-1 iframe{
    height:100%;
    border-radius: 7px;
}
section-1 a{
    color:rgb(110, 110, 110);
    font-style:oblique;
    outline:none;
   
    font-size:15.2px;
    text-decoration: none;;
}

section-1 p{
    text-align:center; 
    margin:3px; 
    margin:0 auto;
    max-width:80%;
    color:rgba(201, 11, 11, 0.856);
    text-shadow:.4px .4px rgba(56, 4, 4, 0.658);
    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
}
section-1 h2{    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
}
section-1 img{    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.GalleryGrid div{
    width:88.7%; 
}

.GalleryGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;
    margin:0 auto;
    width:98%;   
    justify-items: center;;
}

section-1 h2{
    text-align: center;
    Margin:17px 0 17px 20px;
    color:rgb(46, 46, 46); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  font-weight: 550; font-style:normal; font-size:21.5px;
}
@media only screen and (max-width:770px) {
    .ImageGrid{
        grid-template-columns: 1fr;
    }

.PageContainer h2{
    margin:-3px auto 5px 0 ;
}


.ImageGrid-2{grid-template-areas: 
    'Description'
    'Feature'
    
    ;}
#ArticleDescription{    grid-area: Feature}
#ArticleFeatureImage{    grid-area: Description; }
.ImageGrid-2 img{    width:100%;; }

}

@media only screen and (min-width:920px) {
    .PageContainer{
        width:50%; 
        
    }
}


@media only screen and (max-width:700px) {
    .GalleryGrid a{
        color:rgb(110, 110, 110);
        text-decoration: none;;
        font-size:14px;
        font-style:oblique;
    }


}
